.background {
  width: 500px;
  height: 500px;
  outline: 2px solid #000;
  /* background-image: url('https://picsum.photos/id/1081/200/400');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; */
  /* background: linear-gradient(black, red, yellow, blue, green, pink, orange, gold); */
  /* background: linear-gradient(blue 50%, yellow 50%); */
  /* background: radial-gradient(yellow, yellow 30%, black 30%, black 70%, red 70%, red); */
  /* background: linear-gradient(red, red 20%, black 20%, black 50%, blue 50%, blue); */
}