@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* @font-face {
    font-family: roboto-regular;
    src: url('../fonts/roboto-regular.ttf');
}

@font-face {
  font-family: roboto-bold;
  src: url('../fonts/roboto-bold.ttf')
} */

h1 {
    /* font-family: roboto-bold; */
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-align: center;
}
